.sidebarStyle {
    display: inline-block;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}
    
.mapContainer {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.clearfix{
    clear: both;
    float: none;
}

#map {
    top: 0;
    bottom: 0;
    height: 60vh !important;
    width: 100%;
}

.marker {
    display: block;
    border: none;
    padding: 0;
    width: 8px;
    height: 8px;
}